<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Form</title>
</head>
<body>
    <h1>Add New Form</h1>

    <select name="productName" id="productName">
        <% productName.forEach(e => { %>
            <option value="<%=e%>"><%=e%></option>
     <%   }); %>
    </select>

</body>
</html>