<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Form</title>
</head>
<body>
    <h1>Add New Form</h1>

    <form method="post" action="/new">
        <select name="productName" id="productName">
            <% productName.forEach(e => { %>
                <option name="productName" value="<%=e%>"><%=e%></option>
         <%   }); %>
        </select>
        <select name="qty" id="qty">
            <!-- <option value="" selected disabled hidden>Choose here</option> -->
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>